name: Github Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build-github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: cargo install trunk@0.21.14 --locked
      - name: Build
        run: env -C demo_web trunk build --release --public-url .
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: demo_web/dist
          single-commit: true
