name: Rust

on:
  pull_request:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  # Separate job to see if works without Protoc.
  lean-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: extractions/setup-just@v3
      - run: just check-lean

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: arduino/setup-protoc@v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: extractions/setup-just@v3
      - run: just check-all-features
      - run: just check-demo

  wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: arduino/setup-protoc@v3.0.0
      - run: cargo install trunk@0.21.14 --locked
      - name: Build Demo Web
        run: env -C demo_web trunk build

  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: arduino/setup-protoc@v3.0.0
      - name: Setup Java JDK
        uses: actions/setup-java@v4.5.0
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      - name: Install Cargo NDK
        run: cargo install cargo-ndk@3.5.4 --locked
      - name: Build APK
        working-directory: ./demo_android
        run: make apk

  tests-lints:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: arduino/setup-protoc@v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: extractions/setup-just@v3
      - uses: crate-ci/typos@v1.40.0
      - run: cargo test --verbose
      - run: just lints
