name: Rust

on:
  pull_request:
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: arduino/setup-protoc@v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      #- name: Cargo Check Walkers All Features
      #  run: cargo check -p walkers --all-features
      #- name: Cargo Check Walkers No Features
      #  run: cargo check -p walkers --no-default-features
      - name: Build Demo Native All Features
        run: cargo build -p demo_native --all-features
      - name: Build Walkers No Features
        run: cargo build -p walkers --no-default-features

  wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - run: cargo install trunk@0.21.14 --locked
      - name: Build Demo Web
        run: env -C demo_web trunk build

  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - name: Setup Java JDK
        uses: actions/setup-java@v4.5.0
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      - name: Install Cargo NDK
        run: cargo install cargo-ndk@3.5.4 --locked
      - name: Build APK
        working-directory: ./demo_android
        run: make apk

  tests-lints:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
      - uses: arduino/setup-protoc@v3.0.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Tests
        run: cargo test --verbose
      - name: Formatting
        run: cargo fmt --all --check
      - name: Clippy
        run: cargo clippy --all-features -- -D warnings
      - name: Documentation
        run: cargo doc --no-deps
      - name: Typos
        uses: crate-ci/typos@v1.30.2
